/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* Light mode */
:root {
  --ifm-background-color: #fff9eb;
  --ifm-font-color-base: #303030;

  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-navbar-height: 4rem;

  --ifm-color-primary: #2c0e8c;
  --ifm-color-primary-dark: #280d7e;
  --ifm-color-primary-darker: #250c77;
  --ifm-color-primary-darkest: #1f0a62;
  --ifm-color-primary-light: #300f9a;
  --ifm-color-primary-lighter: #3310a1;
  --ifm-color-primary-lightest: #3912b6;

  --ifm-footer-background-color: #fff2d2;
  --ifm-footer-link-color: var(--ifm-font-color-base);

  --ifm-color-emphasis-100: var(--ifm-background-color);
  --ifm-color-emphasis-200: var(--ifm-background-color);
  --ifm-color-emphasis-300: var(--ifm-background-color);
  --ifm-color-emphasis-400: var(--ifm-background-color);
  --ifm-color-emphasis-500: var(--ifm-background-color);
  --ifm-color-emphasis-600: var(--ifm-background-color);
  --ifm-color-emphasis-700: var(--ifm-font-color-base);
  --ifm-color-emphasis-800: var(--ifm-font-color-base);
  --ifm-hero-text-color: var(--ifm-font-color-base);
}

/* Dark mode */
[data-theme="dark"] {
  
  --ifm-background-color: #303030;
  --ifm-font-color-base: #fff9eb;

  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-navbar-height: 4rem;

  --ifm-color-primary: #e6c84d;
  --ifm-color-primary-dark: #e2c032;
  --ifm-color-primary-darker: #e0bc25;
  --ifm-color-primary-darkest: #bc9d1a;
  --ifm-color-primary-light: #ead068;
  --ifm-color-primary-lighter: #ecd475;
  --ifm-color-primary-lightest: #f1e19e;

  --ifm-footer-background-color: #3e3e3e;
  --ifm-footer-link-color: var(--ifm-font-color-base);

  --ifm-color-emphasis-100: var(--ifm-background-color);
  --ifm-color-emphasis-200: var(--ifm-background-color);
  --ifm-color-emphasis-300: var(--ifm-background-color);
  --ifm-color-emphasis-400: var(--ifm-background-color);
  --ifm-color-emphasis-500: var(--ifm-background-color);
  --ifm-color-emphasis-600: var(--ifm-background-color);
  --ifm-color-emphasis-700: var(--ifm-font-color-base);
  --ifm-color-emphasis-800: var(--ifm-font-color-base);
  --ifm-hero-text-color: var(--ifm-font-color-base);
}

h5 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
}