/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-background-color: #fff9eb;        
  --ifm-font-color-base: #303030;         
  
  --ifm-navbar-background-color: #fff9eb;
  --ifm-footer-background-color: #fff9eb;
  --ifm-card-background-color: #fdf2d5;  
  
  --ifm-color-primary: #8c6d1f;           
  --ifm-color-primary-dark: #7e621c;
  --ifm-color-primary-darker: #775c1a;
  --ifm-color-primary-darkest: #624c16;
  --ifm-color-primary-light: #9a7822;
  --ifm-color-primary-lighter: #a17d23;
  --ifm-color-primary-lightest: #b58d28;

  --ifm-border-color: rgba(48, 48, 48, 0.1); 
}

[data-theme='dark'] {
  --ifm-background-color: #303030;        
  --ifm-font-color-base: #fff9eb;         
  
  --ifm-navbar-background-color: #303030;
  --ifm-footer-background-color: #303030;
  
  --ifm-color-primary: #d4af37;           
  
  --ifm-border-color: rgba(255, 249, 235, 0.1); 

  --ifm-card-background-color: #3e3e3e; /* A slightly lighter charcoal than the background */
  
  --ifm-color-emphasis-100: #3e3e3e;
  --ifm-color-emphasis-600: #fff9eb;
  
  --ifm-color-content: #fff9eb;
}

a {
  text-decoration-thickness: 1px;
  transition: all 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

.menu__link--active {
  font-weight: bold;
  background-color: rgba(140, 109, 31, 0.1); /* Very light gold tint */
}